.font-awesome {
    font-family: "FontAwesome";
}

.cardStyle {
    background-color: #3489db;
    color: #fff;
}


button, label, stack-layout {
    horizontal-align: center;    
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 


.lvitem {
    color: black;
    font-size: 16;
    horizontal-align: left;
	margin: 10;
 
}

.lvhomepage {
    color: black;
    font-size: 22;
    horizontal-align: left;
	margin: 10;
    width: 100%;
}
.gara {
   color: black;
    font-size: 14;

    horizontal-align: left;
	font-weight: bold;

	/*margin: 10;*/

}

.location {
   color: gray;
    font-size: 14;
    horizontal-align: left;
	font-weight: bold;
	/*margin: 10;*/

}

.stato {
   color: gray;
    font-size: 14;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}

.iscritti {
   color: blue;
    font-size: 14;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}

.margin {

    padding: 10;
    width: 100%;
}

ActionBar {
 background-color: green;
 color: white;
}



/* chatview css */

.nsChatView-view {

background-color: lightblue;

}

.nsChatView-view .nsChatView-sendMessageArea {
    margin: 4,0,0,0;
    background-color: #e8e8e8;
}
 
.nsChatView-view .nsChatView-sendMessageArea Button {
    background-color: transparent;
    margin: 0;
}
 
.nsChatView-view .nsChatView-messageList {
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    margin: 0;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-avatar,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-avatar {
    margin: 8;
    border-radius: 32;
    width: 64;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-separator,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-separator {
    border-color: transparent;
    border-width: 0;
    width: 32;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-message,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-message {
    margin: 8;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    border-radius: 8;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea {
    background-color: #edeef2;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea {
    background-color: #00b863;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content {
    margin: 12,16,12,16;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea Label,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea Label {
    margin: 0;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content Label {
    color: black;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content Label {
    color: white;
}
 
.nsChatView-view .nsChatView-messageList .nsChatView-item-left .nsChatView-messageArea .nsChatView-content .nsChatView-date,
.nsChatView-view .nsChatView-messageList .nsChatView-item-right .nsChatView-messageArea .nsChatView-content .nsChatView-date {
    font-size: 11;
    margin-bottom: 12;
}
 
.nsChatView-view .nsChatView-messageField {
    font-size: 14;
}




.scroll-menu {
    height: 60;
    padding: 10;
}
 
.scroll-pane {
    background-color: lightblue;
	color: black;
	text-align: center;
    width: 240;
    height: 70;
    margin: 2;
}



.match {
   color: black;
    font-size: 14;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}

.atleta {
   color: black;
    font-size: 12;
    horizontal-align: left;
	font-weight: bold;
	/*margin: 10;*/

}

.risult {
   color: black;
    font-size: 12;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}


.time {
   color: gray;
    font-size: 11;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}
.cronaca {
   color: black;
    font-size: 12;
    horizontal-align: left;
	font-weight: normal;
	/*margin: 10;*/

}

.danondisputare {
  color: black;
  font-weight: normal;
  text-decoration: line-through;
}

.nondisputato {
  color: black; 
   font-weight: normal;
  text-decoration: none;
}

.vinto {
  color: green; 
   font-weight: bold;
  text-decoration: none;
}

.perso {
  color: red; 
   font-weight: bold;
  text-decoration: none;
}


.badge {
  position: absolute;
    /*top:-5;
    right: 43;*/
    width: 30;
    padding: 3 7;
    text-align: center;
    /*border: 2 solid yellow;*/
    border-radius:15;
    background-color: lightsalmon;
    /*box-shadow: 0 1 2 rgba(0,0,0,.5), 0 1 4 rgba(0,0,0,.4), 0 0 1 rgba(0,0,0,.7) inset, 0 10 0 rgba(255,255,255,.11) inset; 
*/
    font:bold 12/12 "Helvetica Neue", sans-serif; 
    
    color: white;
    /*text-decoration: none;
    text-shadow: 0 -1 0 rgba(0,0,0,.6);*/
}